// _main.scss

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

$aux-color: #e8eaf5;
$primary-color: #A4AAC3;
$secondary-color: #56cee9;
$main-color: #4460dd;
$light-color: #fff;
$font-stack: "Poppins", sans-serif;
$font-bolder: 700 35px $font-stack;
$font-bold: 600 20px $font-stack;
$font-normal: 100 35px $font-stack;
$font-norm: 500 20px $font-stack;
$font-light: 400 20px $font-stack;
$font-lighter: 200 17px $font-stack;
$grid-margin: 12px auto;
$border-radius: 20px;
$border-radius-sm: 10px;

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $aux-color;
}

.search-input {
  padding-left: 10px;
}

.quote-card {
  .text-3 {
    text-transform: capitalize;
  }

  span {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100vw;
    min-height: 94vh;
    padding: 25px;
    background-color: $aux-color;

    .heading {
      background-color: $light-color;
      padding: 15px 0px;
      text-align: center;
      border-radius: $border-radius-sm;
      box-shadow: 0px 10px 10px -5px #4460dd3d;

      h1 {
        font: $font-bolder;
        font-size: 40px;
        color: $main-color;
        line-height: 40px;
        letter-spacing: -2px;
        word-spacing: 3px;
        margin: $grid-margin;
        text-transform: capitalize;
      }
    }

    .phonetic {
      font: $font-lighter;
      font-size: 25px !important;
      color: $main-color;
      background-color: $secondary-color;
      color: $aux-color;
      padding: 5px;
      margin: auto;
      width: 60%;
      border-radius: $border-radius;
    }

    .meanings {
      padding: 25px 0;
      display: flex;
      font: $font-lighter;
      overflow-x: scroll;
      overscroll-behavior: contain;
      box-shadow: 0px 10px 10px -5px #4460dd3d;

      .meaning-card {
        min-width: 80%;
        background-color: $light-color;
        margin-right: 15px;
        padding: 15px;
        border-radius: $border-radius-sm;

        p {
          font: $font-bolder;
          font-size: 30px;
          text-transform: capitalize;
          color: $main-color;
        }

        .definition {
          margin: 15px 0px;

          p {
            font: $font-bold;
            font-size: 15px;
          }
        }

        .example {
          background-color: $main-color;
          margin: 15px 0px;
          padding: 10px;
          color: $light-color;
          border-radius: $border-radius-sm;

          p {
            font: $font-bold;
            font-size: 15px;
            color: $secondary-color;

          }
        }

      }
    }

    .meanings::-webkit-scrollbar {
      width: 10px;
    }

    .meanings::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 5px;
    }

    .meanings::-webkit-scrollbar-thumb {
      background: #4460dd;
      border-radius: 5px;
    }

    .text-1 {
      font: $font-bolder;
      color: $main-color;
      line-height: 40px;
      letter-spacing: -2px;
      word-spacing: 3px;
      margin: $grid-margin;
    }

    .text-2 {
      font: $font-normal;
      color: $primary-color;
      margin: $grid-margin;
    }

    .text-3 {
      font: $font-normal;
      color: $primary-color;
      margin: $grid-margin;
    }

    .search-input {
      width: 100%;
      margin: 25px 0px;
      display: flex;
      border: solid 2px $secondary-color;
      border-radius: 15px;

      input {
        width: 80%;
        background-color: transparent;
        color: $primary-color;
        padding: 10px 0px;
        border: none;
        border-radius: 10px 0px 0px 10px;
        outline: none;
        font-size: 20px;
      }

      button {
        width: 30%;
        background-color: $secondary-color;
        border: none;
        border-radius: 10px 10px 10px 10px;
        color: $aux-color;
        font: 300 17px $font-stack;
      }
    }

    .quote-card {
      max-width: 100%;
      margin: $grid-margin;
      background-color: $main-color;
      background-image: url('./BgImg.png');
      background-repeat: no-repeat;
      background-position-x: 330px;
      background-position-y: 100px;
      background-size: contain;
      border-radius: 15px;
      padding: 20px;

      .text-3 {
        font: $font-normal;
        margin-top: -1px;
      }

      .quote-heading {
        font: $font-bold;
        font-size: 22px !important;
        color: $aux-color;
        letter-spacing: -1px;
        margin-top: 17px;
      }

      .quote-content {
        font: $font-lighter;
        color: $aux-color;
      }

      .quote-by {
        font: $font-light;
        font-size: 13px !important;
        color: $aux-color;
      }
    }


    .phonetics {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      list-style-type: none;

      li {
        width: 100px;
        margin: 10px 10px 10px 0px;
        background-color: $light-color;
        padding: 10px;
        border-radius: 10px;
        font: $font-lighter;
        text-align: center;
        font-size: 17px !important;
        // p {}
      }

    }
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .container {
    max-width: 80vw;
    margin: auto;
    min-height: 94vh;
    padding: 30px;
    background-color: $aux-color;

    .heading {
      background-color: $light-color;
      padding: 15px 0px;
      text-align: center;
      border-radius: $border-radius-sm;
      box-shadow: 0px 10px 10px -5px #4460dd3d;

      h1 {
        font: $font-bolder;
        font-size: 40px;
        color: $main-color;
        line-height: 40px;
        letter-spacing: -2px;
        word-spacing: 3px;
        margin: $grid-margin;
        text-transform: capitalize;
      }
    }

    .phonetic {
      font: $font-lighter;
      font-size: 25px !important;
      color: $main-color;
      background-color: $secondary-color;
      color: $aux-color;
      padding: 5px;
      margin: auto;
      width: 60%;
      border-radius: $border-radius;
    }

    .meanings {
      padding: 25px 0;
      display: flex;
      font: $font-lighter;
      overflow-x: scroll;
      overscroll-behavior: contain;
      box-shadow: 0px 10px 10px -5px #4460dd3d;

      .meaning-card {
        min-width: 80%;
        background-color: $light-color;
        margin-right: 15px;
        padding: 15px;
        border-radius: $border-radius-sm;

        p {
          font: $font-bolder;
          font-size: 30px;
          text-transform: capitalize;
          color: $main-color;
        }

        .definition {
          margin: 15px 0px;

          p {
            font: $font-bold;
            font-size: 15px;
          }
        }

        .example {
          background-color: $main-color;
          margin: 15px 0px;
          padding: 10px;
          color: $light-color;
          border-radius: $border-radius-sm;

          p {
            font: $font-bold;
            font-size: 15px;
            color: $secondary-color;

          }
        }

      }
    }

    .meanings::-webkit-scrollbar {
      width: 10px;
    }

    .meanings::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 5px;
    }

    .meanings::-webkit-scrollbar-thumb {
      background: #4460dd;
      border-radius: 5px;
    }

    .text-1 {
      font: $font-bolder;
      color: $main-color;
      line-height: 40px;
      letter-spacing: -2px;
      word-spacing: 3px;
    }

    .text-2 {
      font: $font-normal;
      color: $primary-color;
      margin: $grid-margin;
    }

    .text-3 {
      font: $font-normal;
      font-size: 45px !important;
      color: $primary-color;
      margin-bottom: 15px;
    }

    .search-input {
      width: 100%;
      margin: 35px 0px;
      display: flex;
      border: solid 2px $secondary-color;
      border-radius: 15px;

      input {
        width: 80%;
        background-color: transparent;
        padding: 13px 0px;
        border: none;
        border-radius: 10px 0px 0px 10px;
        outline: none;
        font-size: 20px;
        color: $primary-color;

      }

      button {
        width: 30%;
        background-color: $secondary-color;
        border: none;
        border-radius: 10px 10px 10px 10px;
        color: $aux-color;
        font: 300 17px $font-stack;
      }
    }

    .quote-card {
      max-width: 100%;
      margin-top: 40px !important;
      background-color: $main-color;
      background-image: url('./BgImg.png');
      background-repeat: no-repeat;
      background-position-x: 480px;
      background-position-y: 120px;
      background-size: contain;
      border-radius: 15px;
      padding: 30px 20px;

      .quote-heading {
        font: $font-bold;
        font-size: 22px !important;
        color: $aux-color;
        letter-spacing: -1px;
        margin-bottom: 5px;
      }

      .quote-content {
        font: $font-lighter;
        color: $aux-color;
        margin-bottom: 5px;
      }

      .quote-by {
        font: $font-light;
        font-size: 13px !important;
        color: $aux-color;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .container {
    max-width: 70vw;
    margin: auto;
    min-height: 94vh;
    padding: 30px;
    background-color: $aux-color;

    .text-1 {
      font: $font-bolder;
      color: $main-color;
      line-height: 40px;
      letter-spacing: -2px;
      word-spacing: 3px;
    }

    .text-2 {
      font: $font-normal;
      color: $primary-color;
      margin: $grid-margin;
    }

    .text-3 {
      font: $font-normal;
      font-size: 45px !important;
      color: $primary-color;
      margin-bottom: 15px;
    }

    .search-input {
      width: 100%;
      margin: 35px 0px;
      display: flex;
      border: solid 2px $secondary-color;
      border-radius: 15px;
      color: $primary-color;

      input {
        width: 80%;
        background-color: transparent;
        padding: 13px 0px;
        border: none;
        border-radius: 10px 0px 0px 10px;
        outline: none;
        font-size: 20px;
      }

      button {
        width: 30%;
        background-color: $secondary-color;
        border: none;
        border-radius: 10px 10px 10px 10px;
        color: $aux-color;
        font: 300 17px $font-stack;
      }
    }

    .quote-card {
      max-width: 100%;
      margin-top: 40px !important;
      background-color: $main-color;
      background-image: url('./BgImg.png');
      background-repeat: no-repeat;
      background-position-x: 500px;
      background-position-y: 90px;
      background-size: contain;
      border-radius: 15px;
      padding: 30px 20px;

      .quote-heading {
        font: $font-bold;
        font-size: 22px !important;
        color: $aux-color;
        letter-spacing: -1px;
        margin-bottom: 5px;
      }

      .quote-content {
        font: $font-lighter;
        color: $aux-color;
        margin-bottom: 5px;
      }

      .quote-by {
        font: $font-light;
        font-size: 13px !important;
        color: $aux-color;
      }
    }
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .container {
    max-width: 50vw;
    margin: auto;
    min-height: 94vh;
    padding: 30px;
    background-color: $aux-color;

    .text-1 {
      font: $font-bolder;
      color: $main-color;
      line-height: 40px;
      letter-spacing: -2px;
      word-spacing: 3px;
    }

    .text-2 {
      font: $font-normal;
      color: $primary-color;
      margin: $grid-margin;
    }

    .text-3 {
      font: $font-normal;
      font-size: 45px !important;
      color: $primary-color;
      margin-bottom: 15px;
    }

    .search-input {
      width: 100%;
      margin: 35px 0px;
      display: flex;
      border: solid 2px $secondary-color;
      border-radius: 15px;

      input {
        width: 80%;
        background-color: transparent;
        padding: 13px 0px;
        border: none;
        border-radius: 10px 0px 0px 10px;
        outline: none;
        font-size: 20px;
        color: $primary-color;

      }

      button {
        width: 30%;
        background-color: $secondary-color;
        border: none;
        border-radius: 10px 10px 10px 10px;
        color: $aux-color;
        font: 300 17px $font-stack;
      }
    }

    .quote-card {
      max-width: 100%;
      margin-top: 40px !important;
      background-color: $main-color;
      background-image: url('./BgImg.png');
      background-repeat: no-repeat;
      background-position-x: 380px;
      background-position-y: 120px;
      background-size: contain;
      border-radius: 15px;
      padding: 30px 20px;

      .quote-heading {
        font: $font-bold;
        font-size: 22px !important;
        color: $aux-color;
        letter-spacing: -1px;
        margin-bottom: 5px;
      }

      .quote-content {
        font: $font-lighter;
        color: $aux-color;
        margin-bottom: 5px;
      }

      .quote-by {
        font: $font-light;
        font-size: 13px !important;
        color: $aux-color;
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 50vw;
    margin: auto;
    min-height: 94vh;
    padding: 30px;
    background-color: $aux-color;

    .text-1 {
      font: $font-bolder;
      color: $main-color;
      line-height: 40px;
      letter-spacing: -2px;
      word-spacing: 3px;
    }

    .text-2 {
      font: $font-normal;
      color: $primary-color;
      margin: $grid-margin;
    }

    .text-3 {
      font: $font-normal;
      font-size: 45px !important;
      color: $primary-color;
      margin-bottom: 15px;
    }

    .search-input {
      width: 100%;
      margin: 35px 0px;
      display: flex;
      border: solid 2px $secondary-color;
      border-radius: 15px;

      input {
        width: 80%;
        background-color: transparent;
        padding: 13px 0px;
        border: none;
        border-radius: 10px 0px 0px 10px;
        outline: none;
        font-size: 20px;
        color: $primary-color;
      }

      button {
        width: 30%;
        background-color: $secondary-color;
        border: none;
        border-radius: 10px 10px 10px 10px;
        color: $aux-color;
        font: 300 17px $font-stack;
      }
    }

    .quote-card {
      max-width: 100%;
      margin-top: 40px !important;
      background-color: $main-color;
      background-image: url('./BgImg.png');
      background-repeat: no-repeat;
      background-position-x: 600px;
      background-position-y: 90px;
      background-size: contain;
      border-radius: 15px;
      padding: 30px 20px;

      .quote-heading {
        font: $font-bold;
        font-size: 22px !important;
        color: $aux-color;
        letter-spacing: -1px;
        margin-bottom: 5px;
      }

      .quote-content {
        font: $font-lighter;
        color: $aux-color;
        margin-bottom: 5px;
      }

      .quote-by {
        font: $font-light;
        font-size: 13px !important;
        color: $aux-color;
      }
    }
  }
}